wsdl/Store.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://supplychain.example.com/store"
             xmlns:schema="http://supplychain.example.com/schemas"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             targetNamespace="http://supplychain.example.com/store"
             name="StoreService">

    <import namespace="http://supplychain.example.com/schemas" location="../schemas/common.xsd"/>

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://supplychain.example.com/schemas" schemaLocation="../schemas/common.xsd"/>
        </xsd:schema>
    </types>

    <!-- Messages -->
    <message name="RestockRequestMessage">
        <part name="parameters" element="schema:productInfo"/>
    </message>

    <message name="ManufacturingStatusMessage">
        <part name="parameters" element="schema:manufacturingStatus"/>
    </message>

    <message name="ShippingStatusMessage">
        <part name="parameters" element="schema:shippingStatus"/>
    </message>

    <!-- Port Types -->
    <portType name="StorePortType">
        <operation name="startRestock">
            <input message="tns:RestockRequestMessage"/>
        </operation>
    </portType>

    <portType name="StoreCallbackPortType">
        <operation name="receiveManufacturingStatus">
            <input message="tns:ManufacturingStatusMessage"/>
        </operation>
        <operation name="receiveShippingStatus">
            <input message="tns:ShippingStatusMessage"/>
        </operation>
    </portType>

    <!-- Partner Link Types for BPEL -->
    <plnk:partnerLinkType name="StorePartnerLT">
        <plnk:role name="storeService" portType="tns:StorePortType"/>
        <plnk:role name="storeCallback" portType="tns:StoreCallbackPortType"/>
    </plnk:partnerLinkType>

    <!-- Bindings -->
    <binding name="StoreBinding" type="tns:StorePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="startRestock">
            <soap:operation soapAction="http://supplychain.example.com/store/startRestock"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>

    <binding name="StoreCallbackBinding" type="tns:StoreCallbackPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="receiveManufacturingStatus">
            <soap:operation soapAction="http://supplychain.example.com/store/receiveManufacturingStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="receiveShippingStatus">
            <soap:operation soapAction="http://supplychain.example.com/store/receiveShippingStatus"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>

    <!-- Services -->
    <service name="StoreService">
        <port name="StorePort" binding="tns:StoreBinding">
            <soap:address location="http://localhost:8080/ode/processes/StoreProcess"/>
        </port>
    </service>

    <service name="StoreCallbackService">
        <port name="StoreCallbackPort" binding="tns:StoreCallbackBinding">
            <soap:address location="http://localhost:8080/ode/processes/StoreCallback"/>
        </port>
    </service>

</definitions>
